:root {
  --writing-info-image-size: 60px;
  --writing-end-image-size: 100px;
  --writing-image-width: 450px;
}

grammarly-extension {
  position: unset !important;
  pointer-events: unset !important;
}

.writing-outer-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.writing-content-wrapper {
  width: 100%;
  min-width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.writing-cover {
  width: 100%;
  height: auto;
  min-height: auto;
  margin-bottom: var(--box-padding);
  border-radius: 3px;
}

.writing-info-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--box-padding);
}

.writing-info-inner-wrapper {
  height: var(--writing-info-image-size);
  min-height: var(--writing-info-image-size);
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}

.writing-blog-wrapper {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.writing-blog-image {
  height: var(--writing-info-image-size);
  min-height: var(--writing-info-image-size);
  width: var(--writing-info-image-size);
  min-width: var(--writing-info-image-size);
  border-radius: 2px;
  margin-right: calc(var(--box-padding) / 2);
}
.writing-blog-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
}

.writing-date {
  font-weight: 600;
  font-size: 15px;
  color: var(--placeholder-color);
  margin-left: var(--space-character-width);
  cursor: default;
}

.writing-writer-wrapper {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  height: fit-content;
  min-height: fit-content;
  text-decoration: none;
}
.writing-writer-info-wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: fit-content;
}
.writing-writer-name {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 5px;
  text-align: right;
}
.writing-writer-title {
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color-two);
  max-width: 200px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.writing-writer-image {
  height: var(--writing-info-image-size);
  min-height: var(--writing-info-image-size);
  width: var(--writing-info-image-size);
  min-width: var(--writing-info-image-size);
  border-radius: 2px;
  margin-left: calc(var(--box-padding) / 2);
}

.writing-title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  margin-bottom: var(--box-padding);
}
.writing-subtitle {
  color: var(--text-color-two);
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  margin-bottom: var(--box-padding);
}

.writing-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
}

.writing-item {
  width: 100%;
  min-width: 100%;
  height: fit-content;
  min-height: fit-content;
  margin-bottom: var(--box-padding);
}

.writing-header {
  width: 100%;
  min-width: 100%;
  height: fit-content;
  min-height: fit-content;
  color: var(--text-color-two);
  font-weight: 800;
}
.writing-header-1 {
  font-size: 36px;
  line-height: 44px;
}
.writing-header-2 {
  font-size: 30px;
  line-height: 38px;
}
.writing-header-3 {
  font-size: 25px;
  line-height: 28px;
}
.writing-header-4 {
  font-size: 20px;
  line-height: 24px;
}
.writing-header-5 {
  font-size: 19px;
  line-height: 22px;
}
.writing-header-6 {
  font-size: 18px;
  line-height: 20px;
}

.writing-text {
  color: var(--text-color-two);
  font-size: 17px;
  font-weight: 500;
  line-height: 175%;
  outline: none;
}
.writing-text-bold {
  font-weight: 800;
  color: var(--text-color) !important;
}
.writing-text-italic {
  font-style: italic;
}
.writing-text-underline {
  text-decoration: underline;
}
.writing-text-url {
  color: var(--main-color) !important;
  font-weight: 700 !important;
  cursor: pointer !important;
}
.writing-text-url:hover {
  text-decoration: underline;
}

.writing-image-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.writing-alt-text {
  display: none;
}
.writing-image {
  max-width: 100%;
  height: auto;
  min-height: auto;
  border-radius: 2px;
}
.writing-image-description {
  width: calc(min(100%, var(--writing-image-width)));
  min-width: calc(min(100%, var(--writing-image-width)));
  height: fit-content;
  min-height: fit-content;
  font-weight: 500;
  color: var(--text-color);
  font-size: 16px;
  line-height: 140%;
  margin-top: 10px;
  outline: none;
  text-align: center;
}

.writing-video-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.writing-video-url {
  display: none;
}
.writing-video-alt-text {
  display: none;
}
.writing-video {
  width: 100%;
  border-radius: 2px;
  background-color: var(--box-color);
  border: none;
}
.writing-video-description {
  width: calc(min(100%, var(--writing-image-width)));
  max-width: calc(min(100%, var(--writing-image-width)));
  height: fit-content;
  min-height: fit-content;
  font-weight: 500;
  color: var(--text-color);
  font-size: 15px;
  margin-top: 10px;
  outline: none;
  text-align: center;
}

.writing-list {
  color: var(--text-color);
  font-size: 17px;
  font-weight: 300;
  line-height: 23px;
  outline: none;
  padding: 15px 0;
  width: calc(100% - 50px) !important;
  min-width: calc(100% - 50px) !important;
  margin-left: 30px;
  position: relative;
}
.writing-list::before {
  content: "•";
  position: absolute;
  left: -22px;
  top: 17px;
  font-size: 25px;
  color: var(--text-color);
  font-weight: 800;
}

.writing-code {
  outline: none;
  background-color: var(--box-color) !important;
  font-family: 'JetBrains Mono' !important;
  font-weight: 500 !important;
  padding: 15px 30px;
  color: var(--code-color);
  margin-top: calc(-1 * var(--box-padding));
}

.writing-quote {
  padding: 15px 0;
  max-width: calc(100% - 300px) !important;
  justify-self: center;
  font-size: 17px;
  font-weight: 300;
  color: var(--text-color-two);
  outline: none;
  line-height: 23px;
  font-style: italic;
  position: relative;
  text-align: justify;
  margin-left: 50%;
  transform: translateX(-50%);
}
.writing-quote::before {
  content: "❝";
  position: absolute;
  left: -30px;
  top: 12px;
  font-size: 30px;
  color: var(--placeholder-color);
}
.writing-quote::after {
  content: "❞";
  position: absolute;
  right: -30px;
  bottom: 12px;
  font-size: 30px;
  color: var(--placeholder-color);
}

.writing-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--text-color-two);
  font-size: 40px;
  letter-spacing: 10px;
}

.writing-twitter-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.writing-twitter-embed-text {
  position: absolute;
  left: calc((100% - var(--writing-twitter-width)) / 2);
  top: 15px;
  background-color: var(--box-color);
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  padding: 4px 8px;
  outline: none;
  opacity: 0.8;
  width: 300px;
  height: 20px;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}
.writing-twitter-embed-text::before {
  content: 'Embed Code: ';
  font-weight: 600;
}
.writing-twitter-embed-tex:empty:before {
  content: 'Copy & Paste the embed code.';
  color: var(--placeholder-color);
}
.writing-twitter {
  width: var(--writing-twitter-width);
  min-width: var(--writing-twitter-width);
  height: auto;
  min-height: 300px;
  border-radius: 2px;
}

.writing-end-writer-outer-wrapper {
  width: 100%;
  min-width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.writing-end-writer-wrapper {
  height: fit-content;
  min-height: fit-content;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.writing-end-writer-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.writing-end-writer-name {
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 5px;
}
.writing-end-writer-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color-two);
  text-align: right;
  line-height: 125%;
}
.writing-end-writer-social-media-account-outer-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.writing-end-writer-social-media-account-wrapper {
  cursor: pointer;
  margin-left: 9px;
  opacity: 0.8;
}
.writing-end-writer-social-media-account-wrapper:hover {
  opacity: 1;
}
.writing-end-writer-social-media-account-icon {
  width: 14px;
  min-width: 14px;
  width: auto;
  fill: var(--text-color);
}

.writing-end-writer-image {
  height: var(--writing-end-image-size);
  min-height: var(--writing-end-image-size);
  width: var(--writing-end-image-size);
  min-width: var(--writing-end-image-size);
  border-radius: 3px;
  margin-left: 15px;
}

@media only screen and (max-width: 1100px) {
  .writing-title {
    font-size: 32px;
  }
  .writing-subtitle {
    font-size: 18px;
  }
}
@media only screen and (max-width: 700px) {
  .writing-title {
    font-size: 26px;
    line-height: 150%;
  }
  .writing-subtitle {
    font-size: 17px;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --writing-info-image-size: 40px;
  }
  .writing-blog-title, .writing-writer-name {
    font-size: 15px;
  }
  .writing-writer-name {
    margin-bottom: 3px;
  }
  .writing-writer-title {
    font-size: 14px;
    max-width: 150px;
  }
}
@media only screen and (max-width: 450px) {
  :root {
    --writing-info-image-size: 45px;
  }
  .writing-blog-title, .writing-writer-name {
    font-size: 16px;
  }
  .writing-info-inner-wrapper {
    width: 100%;
    min-width: 100%;
  }
  .writing-writer-name {
    margin-bottom: 5px;
  }
  .writing-writer-title {
    font-size: 15px;
    max-width: 200px;
  }
  .writing-info-wrapper {
    align-items: flex-start;
  }
  .writing-writer-wrapper {
    width: 100%;
    min-width: 100%;
    justify-content: flex-end;
    margin-left: calc(-1 * 100%);
    margin-top: calc(var(--writing-info-image-size) + var(--box-padding) / 2);
  }
}