:root {
  --each-slide-blog-image-size: 60px;
  --each-slide-image-size: 200px;
  --slider-wrapper-gap: 40px;
  --slide-footer-height: 16px;
  --slide-bullet-size: 11px;
  --slide-button-size: 20px;
}

.slider-wrapper {
  display: flex;
  gap: var(--slider-wrapper-gap);
  height: calc(var(--each-slide-image-size) + var(--slide-footer-height));
  min-height: calc(var(--each-slide-image-size) + var(--slide-footer-height));
  width: 100%;
  min-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider-wrapper::-webkit-scrollbar {
  display: none;
}

.each-slide-wrapper {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  flex: none;
  height: calc(var(--each-slide-image-size) + var(--slide-footer-height));
  min-height: calc(var(--each-slide-image-size) + var(--slide-footer-height));
  width: 100%;
  min-width: 100%;
}

.each-slide-content-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}

.each-slide-content-inner-wrapper {
  height: var(--each-slide-image-size);
  min-height: var(--each-slide-image-size);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: var(--box-padding);
}

.each-slide-content-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.each-slide-blog-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}

.each-slide-blog-image {
  height: var(--each-slide-blog-image-size);
  min-height: var(--each-slide-blog-image-size);
  width: var(--each-slide-blog-image-size);
  min-width: var(--each-slide-blog-image-size);
  border-radius: 2px;
  margin-right: calc(var(--box-padding) / 2);
}

.each-slide-blog-title {
  font-weight: 600;
  font-size: 15px;
  color: var(--text-color);
}

.each-slide-date {
  font-weight: 600;
  font-size: 15px;
  color: var(--placeholder-color);
  margin-left: var(--space-character-width);
}

.each-slide-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color);
  margin-top: auto;
  text-decoration: none;
  text-underline-offset: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration-thickness: 2px;
}

.each-slide-title-hovered {
  text-decoration: underline !important;
}

.each-slide-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: var(--text-color);
  margin-top: auto;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.each-slide-image {
  height: var(--each-slide-image-size);
  min-height: var(--each-slide-image-size);
  width: var(--each-slide-image-size);
  min-width: var(--each-slide-image-size);
  border-radius: 5px;
}

.slide-footer-wrapper {
  height: var(--slide-footer-height);
  min-height: var(--slide-footer-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-bullets-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}

.slide-bullet-filled {
  height: var(--slide-bullet-size);
  min-height: var(--slide-bullet-size);
  width: var(--slide-bullet-size);
  min-width: var(--slide-bullet-size);
  border-radius: calc(var(--slide-bullet-size) / 2);
  margin-right: var(--space-character-width);
  background-color: var(--text-color);
  border: none !important;
  cursor: default !important;
}

.slide-bullet-filled:hover {
  background-color: var(--text-color) !important;
}

.slide-bullet {
  height: var(--slide-bullet-size);
  min-height: var(--slide-bullet-size);
  width: var(--slide-bullet-size);
  min-width: var(--slide-bullet-size);
  border-radius: calc(var(--slide-bullet-size) / 2);
  margin-right: var(--space-character-width);
  border: 0.5px solid var(--text-color);
  cursor: pointer;
}

.slide-bullet:hover {
  background-color: var(--hover-color);
}

.slide-buttons-wrapper {
  height: var(--slide-button-size);
  min-height: var(--slide-button-size);
  width: calc(2 * var(--slide-button-size) + var(--box-padding) / 4);
  min-width: calc(2 * var(--slide-button-size) + var(--box-padding) / 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(var(--box-padding) / 2);
}

.slide-button {
  height: var(--slide-button-size);
  min-height: var(--slide-button-size);
  width: var(--slide-button-size);
  min-width: var(--slide-button-size);
  border-radius: 2px;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slide-button:hover {
  background-color: var(--hover-color-light);
}

.slide-button-icon {
  width: 7px;
  height: auto;
  fill: var(--background-color);
}

@media only screen and (max-width: 500px) {
  .slider-wrapper {
    margin-top: var(--box-padding);
  }

  :root {
    --each-slide-blog-image-size: 30px;
    --each-slide-image-size: 170px;
  }

  .each-slide-content-inner-wrapper {
    padding-right: 0;
  }

  .each-slide-subtitle {
    -webkit-line-clamp: 3;
  }

  .each-slide-image {
    display: none;
  }
}