:root {
  --each-slide-blog-image-size: 40px;
  --each-slide-image-size: 170px;
  --each-slide-footer-height: 40px;
  --each-slide-bullet-size: 9px;
  --each-slide-button-size: 20px;
}

.slider-wrapper {
  height: calc(var(--each-slide-image-size) + var(--each-slide-footer-height));
  min-height: calc(var(--each-slide-image-size) + var(--each-slide-footer-height));
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.each-slide-wrapper {
  height: calc(var(--each-slide-image-size) + var(--each-slide-footer-height));
  min-height: calc(var(--each-slide-image-size) + var(--each-slide-footer-height));
  width: 100%;
  min-width: 100%;
}

.each-slide-content-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}

.each-slide-content-inner-wrapper {
  height: var(--each-slide-image-size);
  min-height: var(--each-slide-image-size);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: var(--box-padding);
}

.each-slide-content-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.each-slide-blog-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}
.each-slide-blog-image {
  height: var(--each-slide-blog-image-size);
  min-height: var(--each-slide-blog-image-size);
  width: var(--each-slide-blog-image-size);
  min-width: var(--each-slide-blog-image-size);
  border-radius: 2px;
  margin-right: calc(var(--box-padding) / 2);
}
.each-slide-blog-title {
  font-weight: 600;
  font-size: 15px;
  color: var(--text-color);
}

.each-slide-date {
  font-weight: 600;
  font-size: 15px;
  color: var(--placeholder-color);
  margin-left: var(--space-character-width);
}

.each-slide-title {
  font-weight: 700;
  font-size: 19px;
  color: var(--text-color);
  margin-top: auto;
  text-decoration: none;
  text-underline-offset: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.each-slide-title-hovered {
  text-decoration: underline !important;
}
.each-slide-subtitle {
  font-weight: 600;
  font-size: 17px;
  color: var(--text-color);
  margin-top: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.each-slide-image {
  height: var(--each-slide-image-size);
  min-height: var(--each-slide-image-size);
  width: var(--each-slide-image-size);
  min-width: var(--each-slide-image-size);
}

.each-slide-footer-wrapper {
  height: var(--each-slide-footer-height);
  min-height: var(--each-slide-footer-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.each-slide-bullets-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}
.each-slide-bullet-filled {
  height: var(--each-slide-bullet-size);
  min-height: var(--each-slide-bullet-size);
  width: var(--each-slide-bullet-size);
  min-width: var(--each-slide-bullet-size);
  border-radius: calc(var(--each-slide-bullet-size) / 2);
  margin-right: var(--space-character-width);
  background-color: var(--text-color);
}
.each-slide-bullet {
  height: var(--each-slide-bullet-size);
  min-height: var(--each-slide-bullet-size);
  width: var(--each-slide-bullet-size);
  min-width: var(--each-slide-bullet-size);
  border-radius: calc(var(--each-slide-bullet-size) / 2);
  margin-right: var(--space-character-width);
  border: 0.5px solid var(--text-color);
  cursor: pointer;
}
.each-slide-bullet:hover {
  background-color: var(--hover-color);
}

.each-slide-buttons-wrapper {
  height: var(--each-slide-button-size);
  min-height: var(--each-slide-button-size);
  width: calc(2 * var(--each-slide-button-size) + var(--box-padding) / 4);
  min-width: calc(2 * var(--each-slide-button-size) + var(--box-padding) / 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(var(--box-padding) / 2);
}

.each-slide-button {
  height: var(--each-slide-button-size);
  min-height: var(--each-slide-button-size);
  width: var(--each-slide-button-size);
  min-width: var(--each-slide-button-size);
  border-radius: 2px;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.each-slide-button:hover {
  background-color: var(--hover-color-light);
}
.each-slide-button-icon {
  width: 7px;
  height: auto;
  fill: var(--background-color);
}

@media only screen and (max-width: 500px) {
  :root {
    --each-slide-image-size: 140px;
  }
  .each-slide-content-inner-wrapper {
    padding-right: 0;
  }
  .each-slide-subtitle {
    -webkit-line-clamp: 1;
  }
  .each-slide-image {
    display: none;
  }
}