:root {
  --slider-content-width: 700px;
  --slider-change-slide-button-size: 32px;
  --slide-title-line-height: 48px;
  --slide-subtitle-line-height: 26px;
  --slide-learn-more-button-height: 48px;
  --slide-learn-more-button-width: 150px;
  --slide-content-vertical-space-size: 20px;
  --navbar-height: 43px;
  --navbar-button-width: 120px;
  --navbar-button-gap: 5px;
}

.slider-wrapper {
  position: relative;
  z-index: 2;
  width: 100vw; 
  height: fit-content;
  min-height: fit-content;
  display: flex;
  padding-bottom: 10px;
  background-color: var(--background-color);
}

.each-slide-wrapper {
  width: 100vw;
  min-width: 100vw;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.each-slide-image-wrapper {
  position: relative;
  width: calc(100vw - var(--slider-content-width));
  min-width: calc(100vw - var(--slider-content-width));
  height: calc(414 * (100vw - var(--slider-content-width)) / 752);
  min-height: calc(414 * (100vw - var(--slider-content-width)) / 752);
  display: flex;
  align-items: center;
  justify-content: center;
}
.each-slide-image {
  width: 100%;
  height: auto;
}
.each-slide-change-buttons-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(2 * var(--slider-change-slide-button-size));
  min-width: calc(2 * var(--slider-change-slide-button-size));
  height: var(--slider-change-slide-button-size);
  min-height: var(--slider-change-slide-button-size);
  display: flex;
}
.each-slide-change-button {
  width: var(--slider-change-slide-button-size);
  min-width: var(--slider-change-slide-button-size);
  height: var(--slider-change-slide-button-size);
  min-height: var(--slider-change-slide-button-size);
  cursor: pointer;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.each-slide-change-button:hover {
  background-color: rgba(27, 27, 28, 1);
}
.each-slide-change-button-icon {
  height: 14px;
  fill: var(--text-color);
}

.each-slide-content-wrapper {
  width: var(--slider-content-width);
  min-width: var(--slider-content-width);
  height: calc(414 * (100vw - var(--slider-content-width)) / 752);
  min-height: calc(414 * (100vw - var(--slider-content-width)) / 752);
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 60px;
}
.each-slide-title {
  font-weight: 500;
  font-size: 36px;
  color: var(--text-color);
  line-height: var(--slide-title-line-height);
  height: fit-content;
  min-height: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.each-slide-subtitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  line-height: var(--slide-subtitle-line-height);
  height: fit-content;
  min-height: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.each-slide-button {
  margin-top: auto;
  height: var(--slide-learn-more-button-height);
  min-height: var(--slide-learn-more-button-height);
  width: var(--slide-learn-more-button-width);
  min-width: var(--slide-learn-more-button-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: var(--button-background-color);
  cursor: pointer;
  text-decoration: none;
}
.each-slide-button-text {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}
.each-slide-button-icon {
  width: 18px;
  height: auto;
  fill: var(--text-color);
}

.inner-content-wrapper {
  position: relative;
  z-index: 2;
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  padding: 0 calc((100vw - var(--inner-content-wrapper-width)) / 2);
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  transform: translateX(-50%);
}

.navbar-wrapper {
  height: var(--navbar-height);
  min-height: var(--navbar-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.navbar-buttons-wrapper {
  height: var(--navbar-height);
  min-height: var(--navbar-height);
  width: calc(4 * var(--navbar-button-width) + 3 * var(--navbar-button-gap));
  min-width: calc(4 * var(--navbar-button-width) + 3 * var(--navbar-button-gap));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.each-navbar-button {
  position: relative;
  height: var(--navbar-height);
  min-height: var(--navbar-height);
  width: var(--navbar-button-width);
  min-width: var(--navbar-button-width);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  color: var(--text-color);
  cursor: pointer;
}
.each-navbar-button:hover {
  background-color: rgba(33, 32, 37, 1);
}
.selected-navbar-button {
  cursor: default !important;
}
.selected-navbar-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: var(--button-background-color);
}
.selected-navbar-button:hover {
  background-color: var(--background-color) !important;
}

.inner-content-wrapper {
  position: relative;
  z-index: 2;
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  padding: 0 calc((100vw - var(--inner-content-wrapper-width)) / 2);
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-bottom: 100px;
}