.inner-content-wrapper {
  position: relative;
  z-index: 2;
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  padding: 0 calc((100vw - var(--inner-content-wrapper-width)) / 2);
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  transform: translateX(-50%);
}

.general-title-wrapper {
  margin-bottom: calc(var(--box-padding) / 2);
}