:root {
  --main-color: rgba(120, 169, 255, 1);
  --warning-color: rgba(192, 3, 3, 1);
  --box-color: rgba(6, 6, 9, 1);
  --background-color: rgba(13, 13, 15, 1);
  --background-color-two: rgba(8, 8, 10, 1);
  --border-color: rgba(248, 248, 248, 0.2);
  --hover-color: rgba(148, 148, 148, 0.2);
  --hover-color-light: rgba(254, 254, 254, 0.8);
  --button-text-color: rgba(250, 250, 250, 1);
  --text-color: rgba(254, 254, 254, 1);
  --text-color-two: rgba(236, 236, 236, 1);
  --placeholder-color: rgba(248, 248, 248, 0.6);

  --footer-bottom-color: rgba(1, 1, 2, 1);
  --navbar-each-empty-line-background-color: rgba(30, 30, 30, 1)
}