:root {
  --all-content-header-height: 100px;
  --all-content-header-logo-width: 120px;
  --all-content-header-button-gap: 35px;
  --all-content-header-language-button-height: 42px;
  --all-content-header-language-button-width: 140px;
}

.all-wrapper {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.all-header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 100vh;
  height: var(--all-content-header-height);
  min-height: var(--all-content-header-height);
  padding: 0 var(--page-horizontal-padding);
  z-index: 100;
  background: rgba(9, 9, 9, 0.4);
  backdrop-filter: blur(27px);
  -webkit-backdrop-filter: blur(27px);
  display: flex;
  align-items: center;
}
.all-header-wrapper-hovered {
  background: var(--background-color) !important;
  backdrop-filter: unset !important;
  -webkit-backdrop-filter: unset !important;
}

.all-header-logo-wrapper {
  width: fit-content;
  min-width: fit-content;
  height: auto;
  cursor: pointer;
  text-decoration: none;
}
.all-header-logo {
  width: var(--all-content-header-logo-width);
  height: auto;
}

.all-header-buttons-wrapper {
  display: flex;
  align-items: center;
  margin: 0 calc(var(--all-content-header-button-gap) / 2);
}
.all-header-each-button {
  margin: 0 calc(var(--all-content-header-button-gap) / 2);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--button-text-color);
  height: var(--all-content-header-height);
  min-height: var(--all-content-header-height);
  min-width: fit-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.all-header-each-button:hover {
  color: var(--main-color);
}

.all-header-search-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: fit-content;
}
.all-header-search-icon {
  fill: var(--placeholder-color);
  height: 16px;
}
.all-header-search-input {
  outline: none;
  border: none;
  background-color: transparent;
  width: auto;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
}
.all-header-search-input::placeholder {
  color: var(--placeholder-color);
  font-weight: 500;
}

.all-header-language-wrapper {
  position: relative;
  height: var(--all-content-header-language-button-height);
  min-height: var(--all-content-header-language-button-height);
  width: var(--all-content-header-language-button-width);
  min-width: var(--all-content-header-language-button-width);
  display: flex;
  margin-left: auto;
}

.all-header-language-button {
  height: var(--all-content-header-language-button-height);
  min-height: var(--all-content-header-language-button-height);
  width: var(--all-content-header-language-button-width);
  min-width: var(--all-content-header-language-button-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
}
.all-header-language-button-text {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
}
.all-header-language-button-flag {
  width: 20px;
  min-width: 20px;
  height: auto;
}

.all-header-language-menu {
  position: absolute;
  top: var(--all-content-header-language-button-height);
  height: fit-content;
  min-height: fit-content;
  width: var(--all-content-header-language-button-width);
  min-width: var(--all-content-header-language-button-width);
  display: flex;
  flex-direction: column;
}

.all-header-each-language-button {
  height: var(--all-content-header-language-button-height);
  min-height: var(--all-content-header-language-button-height);
  width: var(--all-content-header-language-button-width);
  min-width: var(--all-content-header-language-button-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: var(--background-color-two);
  margin-bottom: 10px;
  cursor: pointer;
}
.all-header-each-language-button:hover {
  background-color: rgba(21, 21, 21, 1);
}
.all-header-each-language-button-text {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
}
.all-header-each-language-button-flag {
  width: 20px;
  min-width: 20px;
  height: auto;
}

.all-content-wrapper {
  padding-top: var(--all-content-header-height);
  width: 100vw;
  min-width: 100vw;
  height: fit-content;
  min-height: fit-content;
}