:root {
  --all-header-height: 70px;
  --all-header-logo-width: 100px;
  --all-header-button-gap: 30px;
  --all-header-language-button-height: 42px;
  --all-header-language-button-width: 140px;
  --all-footer-left-width: 350px;
  --all-footer-each-column-width: 200px;
}

.all-wrapper {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.all-header-wrapper, .all-header-responsive-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 100vw;
  height: var(--all-header-height);
  min-height: var(--all-header-height);
  padding: 0 var(--page-horizontal-padding);
  z-index: 100;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
}
.all-header-responsive-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
}
.all-header-responsive-top-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
}
.all-header-wrapper-hovered {
  background: var(--background-color) !important;
  backdrop-filter: unset !important;
  -webkit-backdrop-filter: unset !important;
}

.all-header-logo-wrapper {
  width: fit-content;
  min-width: fit-content;
  height: auto;
  cursor: pointer;
  text-decoration: none;
}
.all-header-logo {
  fill: var(--text-color);
  width: var(--all-header-logo-width);
  height: auto;
}

.all-header-buttons-wrapper {
  display: flex;
  align-items: center;
  margin: 0 calc(var(--all-header-button-gap) / 2);
}
.all-header-each-button {
  margin: 0 calc(var(--all-header-button-gap) / 2);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
  min-width: fit-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.all-header-each-button-selected {
  border-bottom: 2px solid var(--text-color);
  margin-bottom: -2px;
  cursor: default;
}
.all-header-each-button:hover {
  border-bottom: 2px solid var(--text-color);
  margin-bottom: -2px;
}

.all-header-search-wrapper, .all-header-responsive-search-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: fit-content;
  background-color: var(--background-color-two);
  padding: 5px 15px;
  border-radius: 5px;
}
.all-header-responsive-search-wrapper {
  display: none;
  width: 100%;
  min-width: 100%;
  margin-top: 10px;
}
.all-header-search-icon {
  fill: var(--placeholder-color);
  height: 16px;
}
.all-header-search-input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 200px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
}
.all-header-search-input::placeholder {
  color: var(--placeholder-color);
  font-weight: 600;
}

.all-header-language-wrapper {
  position: relative;
  height: var(--all-header-language-button-height);
  min-height: var(--all-header-language-button-height);
  width: var(--all-header-language-button-width);
  min-width: var(--all-header-language-button-width);
  display: flex;
  margin-left: auto;
}

.all-header-language-button {
  height: var(--all-header-language-button-height);
  min-height: var(--all-header-language-button-height);
  width: var(--all-header-language-button-width);
  min-width: var(--all-header-language-button-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
}
.all-header-language-button-text {
  font-weight: 700;
  font-size: 16px;
  color: var(--text-color);
}
.all-header-language-button-flag {
  width: 20px;
  min-width: 20px;
  height: auto;
}

.all-header-language-menu {
  position: absolute;
  top: var(--all-header-language-button-height);
  height: fit-content;
  min-height: fit-content;
  width: var(--all-header-language-button-width);
  min-width: var(--all-header-language-button-width);
  display: flex;
  flex-direction: column;
}

.all-header-each-language-button {
  height: var(--all-header-language-button-height);
  min-height: var(--all-header-language-button-height);
  width: var(--all-header-language-button-width);
  min-width: var(--all-header-language-button-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: var(--background-color-two);
  margin-bottom: 5px;
  cursor: pointer;
}
.all-header-each-language-button:hover {
  background-color: rgba(21, 21, 21, 1);
}
.all-header-each-language-button-text {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
}
.all-header-each-language-button-flag {
  width: 20px;
  min-width: 20px;
  height: auto;
}

.all-content-wrapper {
  padding-top: var(--all-header-height);
  width: 100vw;
  min-width: 100vw;
  height: fit-content;
  min-height: fit-content;
}

.all-footer-wrapper {
  margin-top: var(--box-padding);
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-two);
}

.all-footer-top-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  padding: var(--box-padding) var(--page-horizontal-padding);
  display: flex;
}

.all-footer-left-wrapper {
  height: auto;
  min-height: auto;
  width: var(--all-footer-left-width);
  min-width: var(--all-footer-left-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.all-footer-logo {
  width: 150px;
  height: auto;
}
.all-footer-title {
  font-weight: 700;
  font-size: 17px;
  color: var(--text-color);
  margin-top: 15px;
}
.all-footer-subtitle {
  line-height: 150%;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color-two);
  margin-top: 5px;
  margin-bottom: var(--box-padding);
}
.all-footer-copyright {
  margin-top: auto;
  font-weight: 600;
  color: var(--text-color);
  font-size: 15px;
}

.all-footer-right-wrapper {
  flex: 1;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  margin-left: calc(var(--box-padding) * 2);
}

.all-footer-each-column-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: var(--all-footer-each-column-width);
  min-width: var(--all-footer-each-column-width);
  margin-right: var(--box-padding);
  display: flex;
  flex-direction: column;
}
.all-footer-each-column-title {
  font-weight: 700;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: calc(var(--box-padding) / 2);
}
.all-footer-each-column-link {
  font-weight: 500;
  font-size: 15px;
  color: var(--text-color-two);
  text-decoration: none;
  text-underline-offset: 6px;
  margin-bottom: 5px;
  cursor: pointer;
}
.all-footer-each-column-link:hover {
  text-decoration: underline;
}
.all-footer-social-media-account-wrapper {
  display: flex;
  align-items: center;
  height: fit-content;
  min-height: fit-content;
  text-decoration: none;
}
.all-footer-social-media-account-icon {
  height: 15px;
  fill: var(--text-color-two);
  margin-bottom: 5px;
  margin-right: 10px;
}

.all-footer-bottom-wrapper {
  height: 30px;
  min-height: 30px;
  padding: 0 var(--page-horizontal-padding);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(1, 1, 2);
}
.all-footer-bottom-text {
  color: var(--text-color);
  font-weight: 700;
  font-size: 12px;
  color: var(--text-color);
}

@media only screen and (max-width: 1000px) {
  :root {
    --all-header-height: 110px;
  }
  .all-header-wrapper {
    display: none;
  }
  .all-header-responsive-wrapper {
    display: flex;
  }
  .all-header-buttons-wrapper {
    width: 100%;
    min-width: 100%;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
  }
  .all-header-each-button {
    margin: 0;
    margin-right: var(--all-header-button-gap);
  }
  .all-header-search-wrapper {
    margin-left: var(--all-header-button-gap);
  }
}
@media only screen and (max-width: 650px) {
  :root {
    --all-header-height: 130px;
    --all-header-button-gap: 20px;
    --all-header-language-button-width: 130px;
  }
  .all-header-buttons-wrapper {
    justify-content: flex-start;
  }
  .all-header-language-button-text, .all-header-each-language-button-text, .all-header-search-input {
    font-size: 15px;
  }
  .all-header-search-wrapper {
    display: none;
  }
  .all-header-responsive-search-wrapper {
    display: flex;
  }
}
@media only screen and (max-width: 350px) {
  :root {
    --all-header-button-gap: 15px;
  }
  .all-header-each-button, .all-header-language-button-text, .all-header-each-language-button-text, .all-header-search-input {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1100px) {
  :root {
    --all-footer-each-column-width: 150px;
  }
}
@media only screen and (max-width: 800px) {
  .all-footer-top-wrapper {
    flex-direction: column;
  }
  .all-footer-left-wrapper, .all-footer-right-wrapper {
    width: 100%;
    min-width: 100%;
    height: fit-content;
    min-height: fit-content;
  }
  .all-footer-right-wrapper {
    margin-left: 0;
    margin-top: var(--box-padding);
  }
}
@media only screen and (max-width: 500px) {
  .all-footer-copyright, .all-footer-each-column-link {
    font-size: 14px;
  }
  .all-footer-subtitle, .all-footer-each-column-title {
    font-size: 15px;
  }
}