:root {
  --general-info-padding: 60px;
  --general-info-gap-size: 30px;
  --general-info-image-size: 250px;
}

.general-info-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  padding: var(--general-info-padding) calc(var(--general-info-padding) + var(--page-horizontal-padding));
  padding-top: calc(var(--all-content-header-height) + var(--general-info-padding));
}

.general-info-image-wrapper {
  height: var(--general-info-image-size);
  min-height: var(--general-info-image-size);
  width: var(--general-info-image-size);
  min-width: var(--general-info-image-size);
  margin-right: var(--general-info-gap-size);
}
.general-info-image {
  height: var(--general-info-image-size);
  min-height: var(--general-info-image-size);
  width: var(--general-info-image-size);
  min-width: var(--general-info-image-size);
  border-radius: 100%;
}

.general-info-content-wrapper {
  flex: 1;
  height: var(--general-info-image-size);
  min-height: var(--general-info-image-size);
  display: flex;
  flex-direction: column;
}

.general-info-title {
  font-weight: 600;
  font-size: 48px;
  color: var(--text-color);
  margin-bottom: 5px;
}
.general-info-subtitle {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}

.general-info-social-media-accounts-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.general-info-each-social-media-account-wrapper {
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}
.general-info-each-social-media-account-icon {
  height: 15px;
  width: auto;
  fill: var(--text-color);
}

.general-info-number {
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  margin-left: auto;
}