:root {
  --general-item-image-size: 100px;
  --general-item-loading-icon-wrapper-height: 100px;
}

.general-items-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.general-each-item-seperator {
  height: 1px;
  min-height: 1px;
  width: 100%;
  min-width: 100%;
  background-color: var(--border-color);
  margin: calc(var(--box-padding) / 2) 0;
  margin-right: var(--box-padding);
}

.general-each-item-wrapper {
  height: var(--general-item-image-size);
  min-height: var(--general-item-image-size);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.general-each-item-content-wrapper {
  height: var(--general-item-image-size);
  min-height: var(--general-item-image-size);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.general-each-item-title {
  margin-right: auto;
  font-weight: 700;
  font-size: 19px;
  color: var(--text-color);
  margin-bottom: calc(var(--box-padding) / 4);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.general-each-item-title-hovered {
  border-bottom: 2px solid var(--text-color);
  margin-bottom: calc(var(--box-padding) / 4 - 2px);
}
.general-each-item-subtitle {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
  margin-bottom: calc(var(--box-padding) / 2);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.general-each-item-footer-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.general-each-item-social-media-account-wrapper {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}
.general-each-item-social-media-account-wrapper:hover {
  opacity: 1;
}
.general-each-item-social-media-account-icon {
  height: 14px;
  width: auto;
  fill: var(--text-color);
  margin-right: 10px;
}

.general-each-item-image {
  height: var(--general-item-image-size);
  min-height: var(--general-item-image-size);
  width: var(--general-item-image-size);
  min-width: var(--general-item-image-size);
  border-radius: 2px;
  margin-left: var(--box-padding);
}

.general-items-loading-icon-wrapper {
  height: var(--general-item-loading-icon-wrapper-height);
  min-height: var(--general-item-loading-icon-wrapper-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.general-items-loading-icon {
  height: 30px;
  fill: var(--placeholder-color);
  animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 500px) {
  .general-each-item-title {
    font-size: 17px;
  }
  .general-each-item-subtitle {
    font-size: 14px;
  }
  :root {
    --general-item-image-size: 80px;
  }
}
@media only screen and (max-width: 400px) {
  .general-each-item-title {
    font-size: 16px;
  }
  :root {
    --general-item-image-size: 70px;
  }
}