:root {
  --general-navbar-width: 350px;
  --general-navbar-each-empty-line-height: 50px;
  --general-navbar-each-empty-line-background-color: rgba(30, 30, 30, 1);
  --general-navbar-short-writing-height: 70px;
  --general-navbar-writing-height: 110px;
}

.general-inner-content-outer-wrapper {
  display: flex;
  width: 100vw;
  min-width: 100vw;
  padding: 0 var(--content-horizontal-padding);
}

.general-inner-content-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: calc(100% - var(--general-navbar-width));
  min-width: calc(100% - var(--general-navbar-width));
  display: flex;
  flex-direction: column;
  padding-right: var(--box-padding);
  position: relative;
}

.general-navbar-wrapper, .general-navbar-scrolled-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: var(--general-navbar-width);
  min-width: var(--general-navbar-width);
  overflow: hidden;
  background-color: var(--background-color);
  border-left: 1px solid var(--border-color);
}
.general-navbar-scrolled-wrapper {
  z-index: 1;
  position: absolute !important;
  bottom: 0;
  right: var(--content-horizontal-padding);
}
.general-navbar-inner-empty-wrapper, .general-navbar-inner-wrapper {
  width: 100%;
  min-width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.general-navbar-empty-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: var(--box-padding);
  margin-bottom: var(--box-padding);
}
.general-navbar-each-empty-line {
  height: var(--general-navbar-each-empty-line-height);
  min-height: var(--general-navbar-each-empty-line-height);
  width: 100%;
  min-width: 100%;
  background-color: var(--general-navbar-each-empty-line-background-color);
  margin-bottom: calc(var(--box-padding) / 3);
}

.general-navbar-title-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: calc(var(--box-padding) / 4);
}

.general-navbar-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color);
  cursor: default;
  margin-left: var(--box-padding);
}

.general-navbar-see-more-button {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color-two);
  cursor: pointer;
  text-decoration: none;
}
.general-navbar-see-more-button:hover {
  border-bottom: 1px solid var(--text-color);
  margin-bottom: -1px;
}

.general-navbar-editors-pick-wrapper, .general-navbar-tags-wrapper, .general-navbar-exclusive-wrapper {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.general-navbar-each-short-writing-wrapper {
  height: var(--general-navbar-short-writing-height);
  min-height: var(--general-navbar-short-writing-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  padding: calc(var(--box-padding) / 2) 0;
  border-bottom: 0.5px solid var(--border-color);
  text-decoration: none;
  color: var(--text-color);
  padding-left: var(--box-padding);
}
.general-navbar-each-short-writing-wrapper:hover {
  background-color: var(--hover-color);
}

.general-navbar-each-short-writing-image {
  height: calc(var(--general-navbar-short-writing-height) - var(--box-padding));
  min-height: calc(var(--general-navbar-short-writing-height) - var(--box-padding));
  height: calc(var(--general-navbar-short-writing-height) - var(--box-padding));
  min-height: calc(var(--general-navbar-short-writing-height) - var(--box-padding));
  margin-right: calc(var(--box-padding) / 2);
  border-radius: 3px;
}

.general-navbar-each-short-writing-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: calc(var(--box-padding) / 2);
}

.general-navbar-tags-wrapper {
  margin-top: calc(var(--box-padding) / 2);
}

.general-navbar-tags-inner-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  margin-top: calc(var(--box-padding) / 2);
  padding-left: var(--box-padding);
  padding-bottom: calc(var(--box-padding) / 2);
  border-bottom: 0.5px solid var(--border-color);
}
.general-navbar-each-tag {
  background-color: var(--text-color);
  color: var(--background-color);
  font-weight: 600;
  font-size: 15px;
  padding: 2px 12px;
  border-radius: 12px;
  display: inline-block;
  margin-right: calc(var(--box-padding) / 4);
  margin-bottom: 5px;
  overflow: hidden;
  text-decoration: none;
}
.general-navbar-each-tag:hover {
  opacity: 0.9;
}

.general-navbar-exclusive-wrapper {
  margin-top: calc(var(--box-padding) / 2);
  margin-bottom: calc(var(--box-padding) / 2);
}

.general-navbar-each-writing-wrapper {
  height: var(--general-navbar-writing-height);
  min-height: var(--general-navbar-writing-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  padding: calc(var(--box-padding) / 2) 0;
  border-bottom: 0.5px solid var(--border-color);
  padding-left: var(--box-padding);
}
.general-navbar-each-writing-wrapper:hover {
  background-color: var(--hover-color);
}

.general-navbar-each-writing-image {
  height: calc(var(--general-navbar-writing-height) - var(--box-padding));
  min-height: calc(var(--general-navbar-writing-height) - var(--box-padding));
  height: calc(var(--general-navbar-writing-height) - var(--box-padding));
  min-height: calc(var(--general-navbar-writing-height) - var(--box-padding));
  margin-right: calc(var(--box-padding) / 2);
  border-radius: 4px;
}

.general-navbar-each-writing-content-wrapper {
  height: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: calc(var(--box-padding) / 2);
}
.general-navbar-each-writing-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.general-navbar-each-writing-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 125%;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
}

.general-navbar-social-media-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  margin-top: calc(var(--box-padding) / 2);
  padding-left: var(--box-padding);
  padding-bottom: calc(var(--box-padding) / 2);
}

.general-navbar-each-social-media-account-wrapper {
  text-decoration: none;
  cursor: pointer;
  margin-right: calc(var(--box-padding) / 2);
  margin-bottom: 5px;
}
.general-navbar-each-social-media-account-wrapper:hover {
  opacity: 0.9;
}
.general-navbar-each-social-media-account-icon {
  height: 20px;
  width: auto;
  fill: var(--text-color);
}

@media only screen and (max-width: 1000px) {
  :root {
    --general-navbar-width: 300px;
  }
}
@media only screen and (max-width: 950px) {
  .general-navbar-wrapper, .general-navbar-shadow-wrapper {
    display: none;
  }
  .general-inner-content-wrapper {
    border-right: none;
    padding-right: 0;
  }
  .general-inner-content-wrapper {
    width: 100%;
    min-width: 100%;
  }
}