.general-title-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.general-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--text-color);
}

.general-text {
  font-weight: 300;
  font-size: 16px;
  color: var(--text-color);
  line-height: 150%;
  margin-bottom: var(--box-padding);
}