:root {
  --general-writing-blog-image-size: 30px;
  --general-writing-image-size: 130px;
}

.general-writings-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.general-each-writing-seperator {
  height: 1px;
  min-height: 1px;
  width: 100%;
  min-width: 100%;
  background-color: var(--border-color);
  margin: calc(var(--box-padding) / 2) 0;
  margin-right: var(--box-padding);
}

.general-each-writing-wrapper {
  height: var(--general-writing-image-size);
  min-height: var(--general-writing-image-size);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.general-each-writing-content-wrapper {
  height: var(--general-writing-image-size);
  min-height: var(--general-writing-image-size);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.general-each-writing-content-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.general-each-writing-blog-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}
.general-each-writing-blog-image {
  height: var(--general-writing-blog-image-size);
  min-height: var(--general-writing-blog-image-size);
  width: var(--general-writing-blog-image-size);
  min-width: var(--general-writing-blog-image-size);
  border-radius: 2px;
  margin-right: calc(var(--box-padding) / 2);
}
.general-each-writing-blog-title {
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
}

.general-each-writing-date {
  font-weight: 500;
  font-size: 14px;
  color: var(--placeholder-color);
  margin-left: var(--space-character-width);
}

.general-each-writing-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
  margin-top: calc(var(--box-padding) / 2);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.general-each-writing-subtitle {
  font-weight: 300;
  font-size: 14px;
  color: var(--text-color);
  margin-top: calc(var(--box-padding) / 2);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.general-each-writing-image {
  height: var(--general-writing-image-size);
  min-height: var(--general-writing-image-size);
  width: var(--general-writing-image-size);
  min-width: var(--general-writing-image-size);
  border-radius: 2px;
  margin-left: var(--box-padding);
}