:root {
  --general-writing-blog-image-size: 30px;
  --general-writing-image-size: 110px;
  --general-writing-loading-icon-wrapper-height: 100px;
}

.general-writings-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.general-each-writing-seperator {
  height: 1px;
  min-height: 1px;
  width: 100%;
  min-width: 100%;
  background-color: var(--border-color);
  margin: calc(var(--box-padding) / 2) 0;
  margin-right: var(--box-padding);
}

.general-each-writing-wrapper {
  height: var(--general-writing-image-size);
  min-height: var(--general-writing-image-size);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.general-each-writing-content-wrapper {
  height: var(--general-writing-image-size);
  min-height: var(--general-writing-image-size);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.general-each-writing-content-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.general-each-writing-blog-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}
.general-each-writing-blog-image {
  height: var(--general-writing-blog-image-size);
  min-height: var(--general-writing-blog-image-size);
  width: var(--general-writing-blog-image-size);
  min-width: var(--general-writing-blog-image-size);
  border-radius: 2px;
  margin-right: calc(var(--box-padding) / 2);
}
.general-each-writing-blog-title {
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
}

.general-each-writing-date {
  font-weight: 500;
  font-size: 14px;
  color: var(--placeholder-color);
  margin-left: var(--space-character-width);
}

.general-each-writing-title {
  margin-right: auto;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
  margin-top: calc(var(--box-padding) / 2);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.general-each-writing-title-hovered {
  border-bottom: 1.5px solid var(--text-color);
  margin-bottom: -1.5px;
}
.general-each-writing-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  margin-top: calc(var(--box-padding) / 2);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.general-each-writing-image {
  height: var(--general-writing-image-size);
  min-height: var(--general-writing-image-size);
  width: var(--general-writing-image-size);
  min-width: var(--general-writing-image-size);
  border-radius: 3px;
  margin-left: var(--box-padding);
  box-shadow: 0 0 2px var(--shadow-color);
}

.general-writings-loading-icon-wrapper {
  height: var(--general-writing-loading-icon-wrapper-height);
  min-height: var(--general-writing-loading-icon-wrapper-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.general-writings-loading-icon {
  height: 30px;
  fill: var(--placeholder-color);
  animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --general-writing-image-size: 110px;
  }
  .general-each-writing-image {
    display: none;
  }
}